/* ------------------------
common style or utilities
-------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.intro{
    background-color: #2D25A0;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.headline{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-left: 156px;
    margin-top: 207px;
}
.heading a{
    background-color: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    font-size: 16px;
    margin-left: 156px;
    text-decoration: none;
}
.banner{
    width: 556.01px;
    height: 438px;
    margin-top: 139px;
    margin-bottom: 100px;
}
.cover-pic:hover img{
    transform:  rotateZ(100deg);
    transition: transform 5s ease;
}
/* --------------------------------
Palyer information starts from here 
---------------------------------- */

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 130px;
    margin-top: 70px;
    
}
.player-info{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px ;
}

.player-info img{
    width: 300px;
    height:256px
}
.player-info h3{
    color: #18191F;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 16px;
}
.player-info p{
    color: #6C6C6C;
    font-size: 16px;
}
/*-------------------
 CSS For Bonus Part 1
 ----------------- */
 .title{
    text-align: center;
 }
 .laliga{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
 }
.cover-img{
    width: 50%;
}
.cover-img:hover{
    transform:  scale(1.5);
    transition: transform 3s ease-in-out;
}
.tap-button{
    background-image: linear-gradient(tomato , orange);
    color: white;
    width: 100px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin-top: 150px;
}

/*-------------------
 CSS For Bonus Part 2
 ----------------- */
.about-section{
    font-size: 20px;
    background-color: rgb(40, 104, 93);
    color: white;
}
.login-container{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}
.bet-img{
    width: 100%;
    height: 300px;
}
.login-form{
    display: flex;
    flex-direction: column;
    
}
.login-form input,button{
    font-size: 1.3em;
    margin-top: 15PX;
    border: 1px solid lightcoral;
    padding-left: 10px;
}
.login-form button{
    background-color: cornflowerblue;
    color: white;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 100px;
}
.login-button{
    color: white;
    text-decoration: none;
}


/* -------------------
Footer start from here
-------------------- */
.footer{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
}
.f-logo img{
    width: 483.87px;
    height: 110px;
    padding-bottom: 20px;
}
.f-social a{
    width: 17px;
    height: 12px;
    padding: 14px;
    padding-bottom: 20px;
    color: #969BAB;
}
.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube {
    background-color: rgba(218, 214, 214, 0.822);
    border-radius: 50%;
    width: 25px;
    height:25px;
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 2px;
}

.f-social:hover .fa-facebook  {
    background-color: rgb(6, 1, 49);
  
}
.f-social:hover .fa-instagram  {
    background-color: rgb(6, 1, 49);
}
.f-social:hover .fa-twitter  {
    background-color: rgb(6, 1, 49);
}
.f-social:hover .fa-youtube  {
    background-color: rgb(6, 1, 49);
}
.copyright{
    font-size: 18px;
    margin-bottom: 63px;
}
/* ------------
Media Queries
-------------- */
@media only screen and (max-width: 688px) {
    .intro{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .headline{
        font-size: 36px;
        margin-left: 16px;
        margin-top: 112px;
        margin-right: 66px;
    }
    .heading a{
        margin-left: 15px;
    }
    
    .banner{
        width: 329px;
        height: 259.17px;
        margin-left: 15px;
    }
    .gallery, .football{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
    }
    .f-logo img{
        width: 70%;
    }
}