/* common style or utilities*/
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #2D25A0;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.headline{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-left: 156px;
    margin-top: 207px;
}
.heading a{
    background-color: #E02C6D;
    color: white;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    font-size: 16px;
    margin-left: 156px;
    text-decoration: none;
}
.banner{
    width: 556.01px;
    height: 438px;
    margin-top: 139px;
    margin-bottom: 100px;
}
.cover-pic:hover img{
    transform:  rotateZ(100deg);
    transition: transform 5s ease;
}